*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main{
    height: 100%;
    width: 100%;
}
nav{
    width: 100%;
    height: 40px;
    align-items: center;
}
nav a{
    font-size: 22px;
    font-weight: 800;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding-left: 10px;
}
nav span{
    color: greenyellow;
}
h1{
    text-align: center;
}
/* .form_wrapper{
    width: 100%;
    height: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

form{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 5%;
}
input{
    width: 40%;
    height: 30px;
    outline: 0;
    border: 1px black solid;
}
button{
    /* padding: 10px 15%; */
    border: none;
    width: 40.7%;
    padding: 15px;
    background: greenyellow;
    font-size: 18px;
    font-weight: 600;
}
h6{
    text-align: center;
}
h6 a{
    color: rgb(143, 211, 41);
    font-size: 14px;
}
input:focus{
    background-color: rgb(230, 255, 191);
}
button:hover{
    background: rgb(157, 233, 44);
}
button:active{
    background: rgb(120, 176, 35);
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: greenyellow;
    background: black;
    left: 0;
    padding: 2px 5px;
    height: 50px;
}
footer h6{
    float: left;
}
footer div{
    height: fit-content;
    width: fit-content;
    display: flex;
    gap: 3px;
}